<!DOCTYPE html>
<html>

	<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="笨狗一搏 : BE YOURSELF 勿忘初心">

    <link rel="stylesheet" type="text/css" media="screen" href="https://beangou.github.io/stylesheets/stylesheet.css">
		<link rel="stylesheet" href="https://beangou.github.io/highlight/styles/railscasts.css">
	  <script src="https://beangou.github.io/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<title>{{ page.title }}</title>
    <bgsound src="https://beangou.github.io/media/WithoutYou.mp3" loop="-1">
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/beangou/beangou.github.io">View on GitHub</a>

          <h1 id="project_title">笨狗一搏</h1>
          <h2 id="project_tagline">Be yourself 勿忘初心</h2>

        </header>
   </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
	{{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">笨狗博客 maintained by <a href="https://github.com/beangou">beangou</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
  </body>
</html>
